<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.systemui"
    coreApp="true"
    android:sharedUserId="android.uid.systemui">

    <!-- Smartspace -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <protected-broadcast android:name="com.google.android.systemui.smartspace.CLICK_EVENT"/>
    <protected-broadcast android:name="com.google.android.systemui.smartspace.EXPIRE_EVENT"/>

    <application
        android:appComponentFactory="com.google.android.systemui.SystemUIGoogleAppComponentFactory"
        tools:replace="android:appComponentFactory">
    </application>
</manifest>
